@charset "utf-8";

.main-visual {
  position: relative;
  width: 100%;
  height: 80rem;
  overflow: hidden;
  animation: visual 0.7s ease-out forwards;
}

.main-visual figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.main-visual figure img {
  width: 100%;
  height: 100%;
}

.visual-con {
  position: absolute;

  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #5f5; */
  z-index: 1;
}

.visual-con h2 {
  font-weight: 700;
  color: var(--Light-100);

  font-size: clamp(2.5rem, 2.6041vw, 5rem);
}

.visual-con p {
  color: var(--Light-100);
  font-weight: 400;

  font-size: clamp(1.3rem, 1.0416vw, 2rem);
}

.visual-btn {
  display: block;
  font-size: clamp(1.4rem, 1.6901vw, 2.4rem);
  margin-top: 3rem;

  padding: 2rem 2rem;
  border: 2px solid var(--Light-100);
  color: var(--Light-100);
  font-weight: 700;

  transition: 0.4s;
}

.visual-btn:hover {
  background: var(--Light-100);
  border: 2px solid var(--Light-100);
  color: var(--Light-100);
}

/* s.event */

.event-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem 2rem;

  margin-top: 5%;
}

.event-list li {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 49.2rem;
  width: 32.3684%;
}

.event-list li figure {
  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.event-list > li figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  pointer-events: none;
  opacity: 0;
  transition: 0.4s;
}

.event-list > li:hover figure::after {
  opacity: 0.3;
}

.event-list li img {
  width: 100%;
  height: 100%;
}

.event-list li {
  text-align: center;
  position: relative;
}

/* course */

.swiper-wrapper {
  margin-top: 2%;
  height: 30rem !important;
}

.swiper-slide figure {
  width: 100%;
  height: 25rem;
}

.course-button-prev {
  position: absolute;
  top: 30%;
  left: 6.2rem;
  width: 8.8rem;
  height: 8.8rem;
  border-radius: 100%;
  background: var(--main-color) url(../img/arrow.svg) no-repeat 50% / 30%;
  transform: rotate(90deg);
  z-index: 1;
  cursor: pointer;
}

.course-button-next {
  position: absolute;
  top: 30%;
  right: 6.2rem;
  width: 8.8rem;
  height: 8.8rem;
  border-radius: 100%;
  background: var(--main-color) url(../img/arrow.svg) no-repeat 50% / 30%;
  transform: rotate(270deg);
  cursor: pointer;
  z-index: 1;
}

.swiper-slide:hover img {
  border: 5px solid var(--main-color);
  transform: scale(1.05); /* 강조 효과를 위한 크기 조정 */
  transition: transform 0.4s; /* 부드러운 전환 효과 */
}

/* menu-all-list */
/* 버튼들 */
.lend-tabmenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.lend-tabmenu button {
  height: 4rem;
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  color: var(--Darck-60);
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;

  font-size: clamp(1.5rem, 1.0416vw, 2rem);
}

.lend-tabmenu button:hover {
  transition: 0.1s;
  border-bottom: 5px solid rgba(0, 0, 0, 0.3);
}

.lend-tabmenu button.on {
  transition: 0.4s;
  color: var(--Darck-100);
  border-bottom: 5px solid #000;
  font-size: 2.5rem;
  font-size: clamp(2rem, 1.302vw, 2.5rem);
}
/* 버튼들 */

.menu-all-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 2.6316%;

  gap: 3rem;
}

.menu-all-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;

  background: #f3f0eb;

  transition: 0.4s;
}

.menu-all-list figure {
  width: 100%;
}

.menu-all-list img {
  width: 100%;
  height: 100%;
}

.menu-all-list dl {
  margin: 1.5rem 0;
}

.menu-all-list dt {
  font-weight: 400;
  font-size: 1.5rem;
  font-size: clamp(1rem, 0.78125vw, 1.5rem);
  color: var(--Darck-60);
}

.menu-all-list dd {
  font-weight: 700;
  font-size: 2rem;

  font-size: clamp(1rem, 1.0416vw, 2rem);
  color: var(--Darck-100);
}

.menu-all-list li:hover {
  background: var(--main-color);
}

.menu-all-list li:hover dt,
.menu-all-list li:hover dd,
.menu-all-list li:hover strong {
  color: var(--Light-100);
}

.menu-all-list div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-all-list strong {
  font-weight: 600;

  font-size: clamp(1.4rem, 1.0416vw, 2rem);
}

/* s.more */
.bag-more {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  margin-bottom: 0;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.bag-more .inner {
  position: relative;
  height: 100%;
  z-index: 2;
}

.bag-more .bag-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bag-title h4 {
  font-weight: 800;
  color: var(--Light-100);
  font-size: clamp(2.5rem, 2.0833vw, 4rem);
  margin-bottom: 2rem;
}

.more-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 2px solid var(--Light-100);
  color: var(--Light-100);
  text-decoration: none;
  transition: all 0.3s ease;
}

.more-btn:hover {
  background-color: var(--Light-100);
  color: var(--Dark-100);
}

.bag-more::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
/* e.more */

/* 반응형  000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/

@media (max-width: 1900px) {
  .event-list li {
    width: 30rem;
    flex: 1 1 30%;
  }
}

@media screen and (max-width: 1440px) {
  /* all */

  .menu-all-list li {
    width: 29.4rem;
    width: 100%;

    padding: 2.2rem 3.4rem;
  }
}

@media (max-width: 1210px) {
  .event-list li {
    width: 20rem;
  }

  .event-list li figure {
    width: 20rem;
  }
}

@media screen and (max-width: 1024px) {
  /* all */

  .menu-all-list {
    gap: 2rem;
  }

  .menu-all-list li {
    width: 18.5rem;
    width: 100%;

    padding: 1.5rem 2.2rem;
  }

  .menu-all-list dl {
    padding-top: 0.2rem;
  }

  /* all */

  /* event-list */

  .event-list li figure {
    width: 19rem;
    height: 19rem;
  }

  /* course */

  .swiper-slide figure {
    height: 20rem;
  }

  .swiper-slide strong {
    padding-top: 2rem;
  }

  .swiper-slide strong::after {
    width: 2rem;
    height: 2.5rem;
  }
}

@media (max-width: 940px) {
  .course-button-next {
    right: 5%;
    width: 4.6rem;
    height: 4.6rem;
  }

  .course-button-prev {
    left: 5%;
    width: 4.6rem;
    height: 4.6rem;
  }
}

@media (max-width: 800px) {
  .bag-con {
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  /* all */

  .menu-all-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  /* event */
}
